<section class="container">
<form class="formulario">
  <h2 class="formulario__titulo"> Nova Transfêrencia</h2>

  <div class="form-field">
    <label class="form-field__label" for= "valor" >Valor</label>
    <input class="form-field__input" id="valor" type="text">
  </div>

  <div class="form-field">
    <label class="form-field__label" for= "desgtino" >Destino</label>
    <input class="form-field__input" id="destino" type="text">

  </div>
  <div class="botao-wrapper">
    <button class="botao">Tranferir</button>
  </div>

  </form>
</section>
